<!--
 @category    Mana
 @package     Manadev_Core
 @copyright   Copyright (c) http://www.manadev.com
 @license     http://www.manadev.com/license  Proprietary License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <manadev_features>
            <Manadev_Core>
                <version>17.03.2919</version>
            </Manadev_Core>
        </manadev_features>
    </default>
</config>