<!--
 @category    Mana
 @package     Manadev_Core
 @copyright   Copyright (c) http://www.manadev.com
 @license     http://www.manadev.com/license  Proprietary License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Manadev_Core" setup_version="3">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>