<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="customprice" instance="Fcamodule\Addsample\Observer\CustomPrice" />
    </event>
	<event name="controller_action_predispatch_catalog_product_view">
        <observer name="Pindex" instance="Fcamodule\Addsample\Observer\Pindex" />
    </event>
</config>