<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"> 
        <preference for="Magento\SalesRule\Model\Rule\Metadata\ValueProvider" type="Chetu\Rule\Model\Rule\Metadata\ValueProvider" />
        <preference for="Magento\SalesRule\Model\Rule" type="Chetu\Rule\Model\Rule" />
</config>