<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="TNA_Events::config_tna_events" title="system"/>
						</resource>
					</resource>
				</resource>
        <resource id="TNA_Events::continuing_education" sortOrder="10" title="continuing_education">
          <resource id="TNA_Events::continuing_education_save" sortOrder="10" title="Save continuing_education"/>
          <resource id="TNA_Events::continuing_education_delete" sortOrder="20" title="Delete continuing_education"/>
          <resource id="TNA_Events::continuing_education_update" sortOrder="30" title="Update continuing_education"/>
          <resource id="TNA_Events::continuing_education_view" sortOrder="40" title="View continuing_education"/>
        </resource>
			</resource>
		</resources>
	</acl>
</config>
