<?xml version="1.0"?>
<!--
 @category    Mana
 @package     Manadev_ProductCollection
 @copyright   Copyright (c) http://www.manadev.com
 @license     http://www.manadev.com/license  Proprietary License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <manadev_features>
            <Manadev_ProductCollection>
                <version>17.05.1615</version>
                <title>Advanced Filterable Product Collection</title>
                <sort_order>100</sort_order>
            </Manadev_ProductCollection>
        </manadev_features>
    </default>
</config>
