<!--@subject Request Form@-->
<!--@vars {
"var data.fullname":"Fullname",
"var data.email":"Email",
"var data.phone":"Phone",
"var data.firstaddress":"Address 1",
"var data.secondaddress":"Address 2",
"var data.city":"City",
"var data.state":"State",
"var data.zip":"Zip",
"var data.country":"Country",
"var data.memo":"Memo",
"var data.best_discribe":"Best Describe",
"var data.contactby":"Contact by",
"var data.product_description_product1":"Product1",
"var data.product_description_product2":"Product2",
"var data.product_description_product3":"Product3",
"var data.product_description_product4":"Product4",
"var data.product_description_product5":"Product5",
"var data.product_description_qty1":"Qty1",
"var data.product_description_qty2":"Qty2",
"var data.product_description_qty3":"Qty3",
"var data.product_description_qty4":"Qty4",
"var data.product_description_qty4":"Qty5"
} @-->